<section>
  <nav class="main-site-nav">
    <ul class="nav-link-list">
      <li><a id="main-site-logo" href="/">Logo</a></li>
      <li>{{link-to 'About' 'about'}}</li>
      <li>{{link-to 'Weights' 'weights'}}</li>
    </ul>
  </nav>
</section>

<h2 id="title">Welcome to Ember</h2>

{{outlet}}
